* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
}

.home {
    height: 100%;
    width: 100%;
}

header {
    background-color: #fff;
    height: auto;
    width: 100%;
}

.header-linha-1 {
    display: flex;
    padding: 16px 48px 0px;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
}

#container-barra-search {
    position: relative;
}

#barra-search {
    width: 650px;
    height:55px;
    padding-left: 10px;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 17px;
    font-size: 14px;
}

#botao-lente-search {
    background: none;
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* para posicionar o botão de lente dentro da barra search */
    color: #555;
    cursor: pointer;
    border: none;
}

#icones-user {
    display: flex;
    align-items: center;
    gap: 10px;
}

#botao-login, #botao-favoritos, #botao-carrinho {
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    border: none;
    padding: 10px;
}

nav {
    display: block;
    position: relative;
    height: 60px;
}

nav ul {
    list-style: none;
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-weight: bold;
    font-size: 16px;
}

nav ul li a {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    color: #555;
    text-decoration: none;
    padding: 0px 20px;
}

.header-linha-2 .itens-submenu-produtos:hover > ul {
    display: block;
}

.header-linha-2 .itens-submenu-produtos ul {
    display: none;
    position: absolute;
    top: 100%;
    background-color: #fff;
    padding: 0;
    margin: 0;
    height: auto;
    z-index: 2;
}

.header-linha-2 .itens-submenu-produtos ul li {
    width: 180px;
}

.header-linha-2 .itens-submenu-produtos ul li a {
    display: inline-block;
    color: #555;
    font-weight: 400;
    margin-bottom: 10px;
    height: 10px;
}


.barra-subtitulo-container {
    display: flex;
    background-color: #eeeeee;
    font-size: 12px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.barra-subtitulo {
    align-items: center;
    display: block;
    color: #454545;
}

.container-banner {
    position: relative;
    width: 100%;
    max-height: 300px;
    overflow: hidden;
    z-index: 0;
}

.container-imagem-banner {
    width: 100%;
    height: 300px;
}

.imagem-banner {
    width: 100%;
    height: 300px;
    object-fit: cover;
    object-position: right;
}

.conteudo-banner {
    position: absolute;
    width: 500px;
    z-index: 1;
    top: 50px;
    left: 15%;
}

.titulo-banner {
    font-family: "Fredoka", sans-serif;
    font-size: 42px;
    font-weight: 700;
    color: #454545;
    text-align: center;
}

.descricao-banner {
    font-size: 14px;
    color: #555;
    text-align: right;
    margin: 5px;
    font-weight: 500;
}

.texto-adicional-banner {
    text-align: right;
    color: #555;
    font-size: 14px;
    font-weight: 700;
}

.container-cards-vantagens {
    display: flex;
    width: 100%;
    margin: 30px 0px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
}

.card-vantagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #eeeeee;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 7px;
    padding: 20px 8px;
    width: 250px;
}