* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 16px;
}

body {
    background-color: white;
}

.home {
    height: 100%;
    width: 100%;
}

header {
    background-color: #fff;
    height: 200px;
    width: 100%;
    padding: 0px 200px;
}

#header-linha-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#logo {
    width: 200px;
}

#container-barra-search {
    position: relative;
}

#barra-search {
    width: 500px;
    height: 35px;
    padding-left: 10px;
    border: 1px solid rgb(180, 180, 180);
    border-radius: 5px;
    font-size: 20px;
}

#botao-lente-search {
    background: none;
    position: absolute; 
    right: 10px;
    top: 50%;
    transform: translateY(-50%); /* para posicionar o botão de lente dentro da barra search */
    color: #555;
    cursor: pointer;
    border: none;
}

#botao-login, #botao-favoritos, #botao-carrinho {
    border: none;
    background: none;
    color: #555;
    cursor: pointer;
    border: none;
    padding: 10px;
}