/* Página principal index */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    background-image: url('../img/dramatic-and-luxurious-apartment-in-dark-colors.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.principal {
    height: 100%;
    color: white; 
    background-color: rgba(0, 0, 0, 0.5);
    padding: 25px 250px;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

header a {
    color: white;
    text-decoration: none;
  }

h1 {
    font-size: 52px;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0px;
    font-size: 16px;
}

nav ul li a {
    position: relative;
    margin: 20px;
}

/* Efeito no nav */
nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease;
}

nav ul li a:hover::after {
    transform: scaleX(1);
}

.titulo-subtitulo-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 25%;
}

.grupo-subtitulo {
    display: flex;
    align-items: center;
}

.subtitulo-linha {
    width: 150px; 
    height: 2px;
    background-color: white;
}

.subtitulo {
    margin: 5px;
    font-size: 20px;
}

.titulo {
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 900;
    width: 500px;
}

.titulo-linha-divisoria {
    width: 475px; 
    height: 2px;
    background-color: white;
}

footer {
    background-color: black;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-align: center;
    height: 50px;
}

footer p {
    padding: 15px;
}

/* Página sobre (quem somos) */

.principal-sobre, .principal-portfolio, .principal-contato {
    min-height: 100vh;
    color: white; 
    background-color: rgb(0, 0, 0);
    padding: 25px 250px;
}

.conteudo-sobre, .conteudo-portfolio {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0 auto 150px auto;
}

.conteudo-sobre-principal {
    margin: 0 auto 200px auto;
}

.titulo-sobre {
    text-transform: uppercase;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 800;
    font-size: 60px;
    margin: 150px 60px;
}

.texto-sobre-principal, .texto-portfolio-introducao {
    font-size: 18px;
    margin: auto;
    width: 500px;

}

.imagem-fundo-sobre-historia {
    position: relative;
    background-image: url('../img/silhouettes-several-colleagues-communicating-office.jpg'); /* Troque pelo caminho da imagem */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: flex-end;
    margin: -25px -250px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.55);
    height: 100%;
    width: 100%;
    align-items: space-between;
    display: flex;
    flex-direction: column;
    justify-content: end;
    z-index: 1;
}

.conteudo-sobre-historia {
    position: relative;
    z-index: 2;
    color: white;
    width: 400px;
    padding: 20px;
    text-align: start;
}

.conteudo-sobre h2 {
    text-transform: uppercase;
    padding: 40px 0;
    font-size: 36px;
}

.conteudo-sobre ul {
    list-style: none;
    padding: 0 40px;

}

.conteudo-sobre ul li, .texto-sobre-dna {
    padding: 5px;
}

.conteudo-sobre strong {
    text-transform: uppercase;
}

.conteudo-sobre-dna {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.subtitulo-sobre-dna {
    margin: 60px;
}

.texto-e-valores-sobre-dna {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: start;
}

.coluna-texto-sobre-dna, .lista-sobre-valores {
    flex: 1 1 45%;
    min-width: 300px;
}

/* Página portfólio */

.titulo-portfolio {
    text-transform: uppercase;
    text-align: center;
    font-family: 'Nunito sans', sans-serif;
    font-weight: 800;
    font-size: 94px;
    margin: 180px 60px;
}

.texto-portfolio-introducao {
    padding: 5px;
}

.portfolio-container {
    display: flex;
    justify-content: space-around;
    margin: 100px 0px;
}

.portfolio-conteudo-imagem-1, .portfolio-conteudo-imagem-2, .portfolio-conteudo-imagem-3 {
    position: relative;
    width: 350px;
    height: 500px;
}

.portfolio-conteudo-imagem-1 img, .portfolio-conteudo-imagem-2 img, .portfolio-conteudo-imagem-3 img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-conteudo-texto {
    width: 450px;
}

.portfolio-titulo {
    font-size: 42px;
}

.portfolio-subtitulo {
    font-size: 16px;
    font-weight: 400;
    margin: 30px 0 30px;
}

.portfolio-texto {
    font-size: 14px;
    width: 350px;
}

.portfolio-container-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.portfolio-titulo-tags {
    margin: 20px 0;
}

.portfolio-tags {
    border: 1px solid white;
    border-radius: 17px;
    padding: 10px;
    font-size: 11px;
}

.portfolio-botao {
    background-color: white;
    color: black;
    border-radius: 20px;
    border: 15px solid white;
    margin-top: 30px;
}

/* Página portfólio */

.conteudo-contato {
    display: block;
}

.titulo-contato {
    margin: 100px 0px;
    font-size: 64px;
}

.info-contato {
    font-size: 14px;
    width: 350px;
}

.texto-contato-email, .texto-contato-telefone{
    font-size: 18px;
    text-transform: uppercase;
    margin: 20px 0px;
}

.texto-contato-endereço-linha1, .texto-contato-endereço-linha2 {
    font-size: 16px;
}

.botao-contato-conheca, .botao-contato-whatsapp {
    border-radius: 20px;
    border: 10px solid white;
    margin: 30px 15px 0px 0px;

}